body{font-family:'Open Sans', sans-serif;font-size:15px}

a{-webkit-transition:all .2s ease;-moz-transition:all .2s ease;-ms-transition:all .2s ease;-o-transition:all .2s ease;transition:all .2s ease}
a:hover,a:focus{-webkit-transition:all .2s ease;-moz-transition:all .2s ease;-ms-transition:all .2s ease;-o-transition:all .2s ease;transition:all .2s ease}

#sidebar{width:170px;background:#2c343f;text-align:center}
#sidebar .uk-navbar{background:#3c434d}
#sidebar .uk-logo{width:100%;height:120px;font-size:22px;color:#fff;flex-wrap:wrap;padding:0}
#sidebar .uk-logo img{width:70px;height:70px}
#sidebar .uk-logo .title{margin-top:-15px}
#sidebar ul{text-align:left}
#sidebar ul li{padding:2px 10px}
#sidebar ul li:hover{background:#232a32}
#sidebar ul li.uk-active a{color:#fff}
#sidebar ul a{color:rgba(255,255,255,0.5);display:block;font-size:13px;line-height:20px;margin:0}
#sidebar hr{border-color:#3c434d}
@media (max-width:1200px){
#sidebar{width:160px}
#sidebar .uk-logo{font-size:20px}
#sidebar ul a{font-size:12px}
}
@media (max-width:959px){
#sidebar{width:110px}
#sidebar .uk-logo{font-size:14px}
}

.main-container{margin-left:170px;background:#f5f5f5}
.main-container .uk-card-body{padding:15px 280px 15px 15px}
.main-container .uk-logo img{width:50px}
@media (max-width:1600px){
.main-container .uk-card-body{padding-right:290px}
}
@media (max-width:1440px){
.main-container>.main>*{padding:0 25px}
}
@media (max-width:1200px){
.main-container{margin-left:160px}
.main-container>.main>*{padding:0 15px}
}
@media (max-width:959px){
.main-container{margin-left:110px}
.main-container .uk-card-body{padding:10px}
}
@media (max-width:639px){
.main-container{margin-left:0}
}

.recipe{font-size:15px}
.recipe>.uk-dropdown{min-width:360px}
.recipe .affix{position:absolute;top:26px;right:16px;color:#333}
.recipe .uk-button-empty img{max-width:64px}
.recipe p{margin:0}
.teleport h3{max-width:360px;padding-right:20px;line-height:25px}
.teleport .uk-dropdown{min-width:250px;padding:16px}
@media (max-width:1600px){
.recipe .uk-button-empty img{max-width:54px}
}
@media (max-width:1440px){
.recipe .uk-button-empty img{max-width:52px}
}
@media (max-width:959px){
.recipe{font-size:13px}
.recipe>.uk-dropdown{min-width:200px;padding:15px}
.recipe .uk-button-empty img{max-width:42px}
.recipe .affix{top:19px}
.teleport h3{font-size:20px}
}

.uk-card-header{border:none!important}
.uk-card-header h2{color:#646464;font-size:16px;font-weight:bold;text-transform:uppercase}
.uk-card-body{background:#f9f9f9;font-size:0}

footer{background:#fff;padding:10px 0;font-size:13px}

h1{font-size:34px}
h2{font-size:26px}

.uk-text-danger{color:#e72b2b!important}
.uk-text-success{color:#22b822!important}

.uk-notification{width:330px}
.uk-notification h3{font-size:20px;margin-bottom:10px}
.uk-notification img{max-width:45px}
.uk-notification-message-primary{background:#d9ecd5}
@media (max-width:959px){
.uk-notification{min-width:200px;width:auto}
}

.uk-button-empty:hover{background:#e3e3e3}
.uk-button-empty span{max-width:130px;padding:10px;box-sizing:border-box;display:inline-block;line-height:18px;text-align:left;vertical-align:middle}

.uk-tooltip-inner:first-letter{text-transform:capitalize}